.--lighter-background {
  background: $background-lighten-3;
}

.--cell {
  border-right: round grey;

}

.--app-paused {
  background: $error-darken-1  50%;
}

.--dashboard-category {
  border: round lightblue;
  border-title-color: black;
  border-title-background: lightblue;
  background:  $background-lighten-2;
  padding-top: 1;
  margin-bottom: 1;
}

#icon {
  width: auto;
  border: tall darkviolet;
  background: blueviolet;
}